header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hidden {
    display: none;
}

.container{
    margin: 25%;
    margin-top:10%;
}

button {
    background-color: rgb(33, 28, 33);
    border-radius: 5px;
    color: white;
    padding: 5px;
}
.answers{
    position: relative;
    display: flex;
    min-width: 300px;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    justify-content: left;
}

.answer{
    min-width: 100%;
    border: black 2px solid;
    border-radius: 8px;
    background-color: aliceblue;
    margin-bottom: 5px;
    text-align: left;
    color: white;

}

.rules{
    text-align: center;
}

.inline{
    width: 200px;
    margin: 0 auto;
    display: inline;
}
 
.answer:hover, .styled-button:hover{
    filter: brightness(150%);
    cursor: pointer;
}

.answer::before{
    margin-left: 5px;
}

.answer:nth-child(1)::before{
    content: "1. ";
}

.answer:nth-child(2)::before{
    content: "2. ";
}
.answer:nth-child(3)::before{
    content: "3. ";
}
.answer:nth-child(4)::before{
    content: "4. ";
}

.content {
    text-align: center;
}

.start-game {
    margin: 5px;
    position: absolute;

    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.main-title {
    text-align: center;
}
.submitButton {
    display: flex;
    flex-direction: column;
}

#questionContainer {
    margin: 25%;
    margin-top: 10%
}
#gameOverContainer {
    margin: 25%;
    margin-top: 10%
}
#scoreList {
    margin: 25%;
    margin-top: 10%
}
.backButton {
    margin: 5px;
    margin-left: 0;
}
.clearButton {
    margin: 5px;
}
